
@font-face {
    font-family: ryuUltraLight;
    src: url(RyuGothic-UltraLight.woff);
}

@font-face {
    font-family: ryuRegular;
    src: url(RyuGothic-Regular.woff);
}

@font-face {
    font-family: ryuExtraBold;
    src: url(RyuGothic-ExtraBold.woff);
}



body{
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(3%, 30%) minmax(75vh,1fr) minmax(3%, 30%);
}

.center{
    position: relative;
 
    padding-top: 1.5%;
    height: 100%;
    
}


.header{
    position: relative;
    display: flex;
    justify-content: center;
}


.lightText{
    font-family: ryuUltraLight;



}


.thickText{
    font-family: ryuExtraBold;



}

.lineHeight17{
    line-height: 1.7em;



}


.originalText{
    font-size: 1.2em;




}

.logo{
    width: 12%;
}

.cartoonContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(30vh, 1fr));
    grid-template-rows: repeat(2, minmax(30vh, 1fr));
    padding-top: 3%;
    padding-bottom: 3%;
    height: 80%;
    word-break: keep-all;
    font-family: ryuRegular;
    font-size: 1rem;
}


.leftTop{
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.rightTop{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.leftBottom{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.rightBottom{
    border: 1px solid black;

}

.p1{
    background-image: url("cartoon/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.p2{
    background-image: url("cartoon/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.p3{
    background-image: url("cartoon/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.p4{
    background-image: url("cartoon/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cartoon{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.Arrow{
    padding-top: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.leftArrow, .rightArrow{
    width: 20%;
}

.seeMore{
    font-family: ryuExtraBold;
    text-decoration: underline;
}



.p2 > .headtext {
    display: flex;
    justify-content: flex-end;
}

.p4 > .headtext {
    display: flex;
    justify-content: flex-end;
}

.headtext{
    width: 100%;
}


.title{
    position: relative;
    padding: 2%;
    width: 20%;
}

.aboutTitle{
    position: relative;
    padding: 2%;
    width: 30%;
}
.aboutTitle2{
    position: relative;
    padding: 2%;
    width: 30%;
}


.aboutRightBottom, .aboutLeftBottom{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;

    font-family: ryuExtraBold;
}


.maintext{
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  background-color: white;
  
}

    .p5{
    background-image: url("cartoon/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    }

    .p6{
        background-image: url("cartoon/5.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        }

        .p7{
            background-image: url("cartoon/6.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            }

            .p9{
                background-image: url("cartoon/7.jpg");
                background-size: contain;
                background-repeat: no-repeat;
                }

                .p10{
                    background-image: url("cartoon/8.jpg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    }

                    .p11{
                        background-image: url("cartoon/10.jpg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        }
                        
                            .p13{
                                background-image: url("cartoon/11.jpg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                }
                                .p14{
                                    background-image: url("cartoon/12.jpg");
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    }
                                    .p15{
                                        background-image: url("cartoon/17.jpg");
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        }
                                        .p17{
                                            background-image: url("cartoon/14.jpg");
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            }
                                            .p18{
                                                background-image: url("cartoon/15.jpg");
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                }
                                                .p19{
                                                    background-image: url("cartoon/16.jpg");
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    }
                                                    .p21{
                                                        background-image: url("cartoon/18.jpg");
                                                        background-size: contain;
                                                        background-repeat: no-repeat;
                                                        }

                                                        .p22{
                                                            background-image: url("cartoon/19.jpg");
                                                            background-size: contain;
                                                            background-repeat: no-repeat;
                                                            }
        

           


                .archiveContainer{
                    padding-top: 3%;
                    font-family: ryuRegular;
                    line-height: 1em;
                    font-size: 1rem;
                }

                .aTitle{
                    font-family: ryuExtraBold;
                    border-bottom: 3px solid black;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    text-align: left;
                    word-break: keep-all;
                    line-height: 1.5em;
                    
                }

                .subPageTitle{
                    font-family: ryuExtraBold;
                    border-bottom: 3px solid black;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    text-align: left;
                    position: sticky;
                    top:0%;
                    background-color: white;
                    font-size: 1.2em;
                }

                .arrow{
                    font-size: 2em;
                    line-height: 1.5em;
                }

                .aInfo{
                    padding-top: 1%;
                    display: grid;
                    grid-template-columns: 20% 20% 1fr;
                    gap:3%;
                    word-break: keep-all;
                    line-height: 1.5em;
                }

                .aList{
                    padding-top: 10%;
                }

                .poster{
                    width: 100%;
                }

                .img{
                    width: 100%;
                }


                .smallThreeImg{
                    width: 100%;
                    margin-left: -30vw;
                    
                }


                .smallImg{
                    width: 50%;
                }

                .smallTwoImg{
                    width:40%;
                    margin-left: 30%;
                }

                .tinyImg{
                    width: 20%;
                    margin-left: 40%;
                }

                .right{
                    text-align: right;
                    font-size: 8em;
                }

                .centeredText{
                    text-align: center;
                }

                .gridContainer{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1%;
                    margin-bottom: 1%;
                }

                .subPageBody{
                    font-family: ryuRegular;
                    word-break: keep-all;
                    line-height: 2.2em;
                    
                }

                .subPageBody > p{
                    max-width: 60em;
                    font-size: 1.2em;
                   
                }

                

                .quote{
                    padding-left: 5%;
                }

                .tailText{
                    font-size: 0.9em;
                }

                .link{
                    text-decoration: underline;
                }

                .border{
                    border-top: 1px solid black;
                    margin-top: 3%;
                }

                .letterTitle{
                    display: flex;
                    justify-content:space-between;
                    
                    flex-wrap: wrap;
                    border-top: 3px solid black;
                    border-bottom: 3px solid black;
                    margin-top: 0.5%;
                    line-height: 1.5em;
                    
                }

                .footnote{
                    font-size: 0.8em;
                }

                .ForDesktopLeedong{
                    display: block;
                }

                .subPageBodyForMobileLeedong{
                    display: none;
                }

                .italic{
                    font-style: italic;
                }
              
                /* --- Comments (Supabase) - minimal base styles --- */

#comments {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  
  /* Wrapper */
  .comments-wrap {
    border-top: 1px solid rgba(0,0,0,0.12);
    padding-top: 16px;
  }
  
  /* Title */
  .comments-wrap h3 {
    margin: 0 0 12px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  
  /* Form */
  .comments-form {
    display: grid;
    gap: 10px;
    margin-bottom: 18px;
  }
  
  .comments-form input,
  .comments-form textarea {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    line-height: 1.4;
    border: 1px solid rgba(0,0,0,0.18);
    border-radius: 8px;
    padding: 10px 12px;
    background: transparent;
  }
  
  .comments-form input:focus,
  .comments-form textarea:focus {
    outline: none;
    border-color: rgba(0,0,0,0.35);
  }
  
  /* Textarea sizing */
  .comments-form textarea {
    min-height: 110px;
    resize: vertical;
  }
  
  /* Meta row (counter + button) */
  .comments-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  #c_count {
    font-size: 12px;
    opacity: 0.7;
  }
  
  /* Submit button */
  #c_submit {
    font: inherit;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 999px;
    padding: 8px 14px;
    background: transparent;
    cursor: pointer;
  }
  
  #c_submit:hover {
    border-color: rgba(0,0,0,0.45);
  }
  
  #c_submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Message */
  .comments-msg {
    font-size: 12px;
    opacity: 0.8;
    min-height: 16px; /* layout stability */
  }
  
  /* List */
  .comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .comments-list li {
    padding: 12px 0;
    border-top: 1px solid rgba(0,0,0,0.10);
  }
  
  /* Single comment */
  .comment-head {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 6px;
  }
  
  .comment-head strong {
    font-weight: 600;
    font-size: 13px;
  }
  
  .comment-date {
    font-size: 12px;
    opacity: 0.65;
  }
  
  .comment-body {
    font-size: 14px;
    line-height: 1.6;
    white-space: pre-wrap; /* 줄바꿈 유지 */
    word-break: break-word; /* 긴 문자열 줄바꿈 */
  }
  

    @media  screen and (max-width:1900px) and (min-width: 701px) {
        .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: minmax(3%, 33%) minmax(77vh,1fr) minmax(3%, 33%);
    }

    .cartoonContainer{
        font-size: 0.8rem;
    }
        
    }
    @media screen and (max-width:700px) {
        .wrapper{
            height: 100%;
        }

        .container{
            width: 100vw;
            display: block;
            height: 100%;
        }
        
        .center{
            position: relative;
            padding: 3%;
            height: 100%;
        }

        .cartoonContainer{
            display: block;
            height: 100%;
            padding-bottom: 3%;
        }

        .logo{
            width: 20%;
        }

        .cartoon{
            height: 103vw;
        }

        .aboutRightBottom{
            height: 103vw;
        }

        .leftTop{
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

        .rightTop{
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

        .leftBottom{
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 0px;
        }

        .title{
            width: 25%;
        }

        .leftArrow, .rightArrow{
            width: 20%;
        }

        .Arrow{
            justify-content: space-between;
        }

        .aInfo{
            padding-top: 3%;
            display: block;
        }

        .aPoster{
            display: none;
        }

        .aList{
            padding-top: 15%;
        }

        .subPageBody > p{
            max-width: 60em;
            font-size: 1em;
            line-height: 1.8em;
          
        }

        .subPageContainer{
            padding-bottom: 5%;
        }

        .letterTitle{
            margin-top: 3%;
     
     
        }

        .ForDesktopLeedong{
            display: none;
        }
        .subPageBodyForMobileLeedong{
            display: block;
        }

        .right{
            text-align: right;
            font-size: 0.8em;
        }
    }