
@font-face {
    font-family: ryuUltraLight;
    src: url(RyuGothic-UltraLight.woff);
}

@font-face {
    font-family: ryuRegular;
    src: url(RyuGothic-Regular.woff);
}

@font-face {
    font-family: ryuExtraBold;
    src: url(RyuGothic-ExtraBold.woff);
}



body{
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
}

.container{
    width: 100vw;
    height: 100vh;
}

.center{
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 1.5%;
    height: 100%;
}


.header{
    position: relative;
    display: flex;
    justify-content: center;
}

.logo{
    width: 12%;
}

.cartoonContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(30vh, 1fr));
    grid-template-rows: repeat(2, minmax(30vh, 1fr));
    padding-top: 3%;
    height: 80%;

    font-family: ryuRegular;
}


.leftTop{
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.rightTop{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.leftBottom{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.rightBottom{
    border: 1px solid black;

}

.p1{
    background-image: url("cartoon/1.jpg");
    background-size: cover;
}

.p2{
    background-image: url("cartoon/2.jpg");
    background-size: cover;
}

.p3{
    background-image: url("cartoon/3.jpg");
    background-size: cover;
}

.p4{
    background-image: url("cartoon/4.jpg");
    background-size: cover;
}

.cartoon{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.Arrow{
    padding-top: 3%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.leftArrow, .rightArrow{
    width: 20%;
}

.seeMore{
    font-family: ryuExtraBold;
    text-decoration: underline;
}



.p2 > .headtext {
    display: flex;
    justify-content: flex-end;
}

.p4 > .headtext {
    display: flex;
    justify-content: flex-end;
}

.headtext{
    width: 100%;
}


.title{
    position: relative;
    padding: 2%;
    width: 20%;
}

.aboutTitle{
    position: relative;
    padding: 2%;
    width: 30%;
}
.aboutTitle2{
    position: relative;
    padding: 2%;
    width: 26%;
}


.aboutRightBottom, .aboutLeftBottom{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;

    font-family: ryuExtraBold;
}


.maintext{
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  background-color: white;
  
}

    .p5{
    background-image: url("cartoon/1.jpg");
    background-size: cover;
    }

    .p6{
        background-image: url("cartoon/5.jpg");
        background-size: cover;
        }

        .p7{
            background-image: url("cartoon/6.jpg");
            background-size: cover;
            }

            .p9{
                background-image: url("cartoon/7.jpg");
                background-size: cover;
                }

                .p10{
                    background-image: url("cartoon/8.jpg");
                    background-size: cover;
                    }

                    .p11{
                        background-image: url("cartoon/10.jpg");
                        background-size: cover;
                        }
                        
                            .p13{
                                background-image: url("cartoon/11.jpg");
                                background-size: cover;
                                }
                                .p14{
                                    background-image: url("cartoon/12.jpg");
                                    background-size: cover;
                                    }
                                    .p15{
                                        background-image: url("cartoon/17.jpg");
                                        background-size: cover;
                                        }
                                        .p17{
                                            background-image: url("cartoon/14.jpg");
                                            background-size: cover;
                                            }
                                            .p18{
                                                background-image: url("cartoon/15.jpg");
                                                background-size: cover;
                                                }
                                                .p19{
                                                    background-image: url("cartoon/16.jpg");
                                                    background-size: cover;
                                                    }
                                                    .p21{
                                                        background-image: url("cartoon/18.jpg");
                                                        background-size: cover;
                                                        }

                                                        .p22{
                                                            background-image: url("cartoon/19.jpg");
                                                            background-size: cover;
                                                            }
        

           


    @media screen and (max-width:700px) {
        .wrapper{
            height: 100%;
        }

        .container{
            height: 100%;
        }
        
        .center{
            position: relative;
            padding: 3%;
            height: 100%;
        }

        .cartoonContainer{
            display: block;
            height: 100%;
            padding-bottom: 3%;
        }

        .logo{
            width: 20%;
        }

        .cartoon{
            height: 105vw;
        }

        .aboutRightBottom{
            height: 105vw;
        }

        .leftTop{
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

        .rightTop{
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

        .leftBottom{
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 0px;
        }

        .title{
            width: 25%;
        }

        .leftArrow, .rightArrow{
            width: 5%;
        }

        .Arrow{
            justify-content: space-between;
        }
    }